html {
    --primary-wallet: #686aff;
    --secondary-wallet: #fc97ef;
    --info-wallet: #6cdbfe;
    --secondary-light-wallet: #fee1fa;
}

/* containers */
body {
    font-family: 'Poppins', sans-serif;
    height: 98vh;
}

#area {
    height: 100%;
}
.mainBgCover{
    position: absolute;
    background-color: #EEF0F6;
    opacity: .5;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
}
.no-container, .med-container, .lrg-container {
    margin: 0 auto;
}
.no-container {
    max-width: 500px;
    margin-top: 150px;
}
.med-container {
    max-width: 750px!important;
    margin-top: 150px!important;
}
.lrg-container {
    max-width: 1000px!important;
    margin-top: 120px!important;
}
.container-box {
    background-color: #fff!important;
    border-radius: 3px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 30px;
    min-height: 300px;
}

/* Spinner */

#loadingSpinnerContainer{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#loadingSpinnerContainer .bg{
    background-color:#000;
    opacity:.2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}
#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  var(--primary-wallet) !important;
    border-left-color: var(--primary-wallet) !important;
    border-radius: 50%;
}
@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Label */

label {
    color: #6C7B8A!important;
}


/* Buttons */
.btn {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid!important;
}
.btn-icon {
    border:0!important;
}
.btn-primary {
    background-image: linear-gradient(to right, var(--primary-wallet) , var(--secondary-wallet))!important;
    background-color: var(--secondary-wallet)!important;
    border-color: transparent!important;
    border-radius: 30px!important;
    color: #fff!important;
}
.btn-primary:hover {
    background-image:none!important;
    background-color: var(--primary-wallet)!important;
    color: #fff!important;
    border-color: transparent!important;
    border-radius: 30px!important;
    transition: all 0.5s ease;
}
.btn-secondary {
    background-color: #fff!important;
    border-color: var(--primary-wallet)!important;
    border-radius: 30px!important;
    color: var(--primary-wallet)!important;
}
.btn-secondary:hover {
    background-color: var(--primary-wallet)!important;
    color: #fff!important;
    border-color: var(--primary-wallet)!important;
    border-radius: 30px!important;

    transition: all 0.5s ease;
}
a:hover {
    color:var(--secondary-wallet)!important;
}
a {
    color: var(--primary-wallet)!important;
    text-decoration: none!important;
    font-weight: bold!important;
    cursor: pointer;
    transition: all 0.5s ease;
}

/* Alerts */
.main .alert{
    text-align: left;
    padding-left: 55px;
    position: relative;
    min-height: 55px;
}
.main .alert .leftIcon {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 25px;
    color: var(--info-wallet);
}
.main .alert-info {
    color: #1D1D1D;
    background-color: #EDFAFF;
    border-color: var(--info-wallet);
}
.main .alert-danger {
    color: #1D1D1D;
    background-color: var(--secondary-wallet-light);
    border-color: var(--secondary-wallet);
}
.main .alert-danger .leftIcon {
    color: var(--primary-wallet);
}
.sweet-alert h2{
    color: var(--primary-wallet)!important;
    font-size: 40px!important;
}
.sweet-alert .logoSmall{
    width:70px;
    display:block;
    margin: 0 auto;
}
.sweet-alert p {
    color: #1D1D1D!important;
}
.sweet-alert .buttons {
    margin: 0 -17px -17px;
    margin-top: 50px;
    padding: 20px;
    background-color:#EEF0F6!important;
    border-top:1px solid #1d1d1d;
}
.sweet-alert button {
    width: 200px!important;
    margin-top:0!important;
    font-size: 14px!important;
}
.sweet-alert {
    border-radius: 15px!important;
}


/* Body */
.main {
    background: url("../images/bg.png") no-repeat;
    background-position: center 100px;
    background-size: cover;
    height: 100%;
    overflow-y: initial;
}

/* Header */
.header {
    background-color: #fff;
    border-bottom: 2px solid var(--primary-wallet);
}
.header img {
    height: 52px;
    width: 375px;
}
.header a {
    color: #1d1d1d!important;
    font-size: 30px;
    opacity:.5;
}
.header a:hover {
    color: var(--primary-wallet)!important;
    opacity:1;
}


/* Side */
.side {
    background-color:#EEF0F6!important;
}
.bottom {
    font-size: 12px;
}
.accounts {
    list-style: none;
}
.accounts:hover li{
    opacity:.5;
    transition: all 0.5s ease;
}
.accounts li:hover {
    opacity:1;
    transition: all 0.5s ease;
}
.accounts li a{
    color: var(--primary-wallet)!important;
}
.accounts li.account a:hover{
    color: var(--primary-wallet);
}
.accounts li.account a{
    font-size: 14px;
}
.accounts li.account canvas{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.account-address {
    color: black;
}
.accounts li.add i{
    color: var(--primary-wallet);
}
.accounts li.add a{
    color: #1d1d1d!important;
    background-color: #fff;
    border:1px solid var(--primary-wallet);
    border-left: 5px solid var(--primary-wallet);
    border-right: 0;
}

/* main panel */
.blocky-container canvas {
    border-radius: 100%;
    border: 3px solid #fafafa;
}
.addressDetails h1{
    margin-top:0;
    color: var(--primary-wallet);
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 39px;
}
.balance >a{
    font-size: 20px;
}
.balance{
    color: #1d1d1d;
    white-space: nowrap;
}
.tzscan {
    font-size:16px;
}
.addressDetails h5.address>a{
    font-size: 25px;
}
.addressDetails h5.address{
    color: #1d1d1d;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}
.accountOffline {
    position: absolute;
    top: 5px;
    left: 125px;
    font-size: 35px;
    color: var(--primary-wallet);
}

/* tabs */

.tx .received {
    color: var(--info-wallet);
}
.tx .sent {
    color: var(--primary-wallet);
}
.tx canvas{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.tx .txDate {
    font-weight: normal;
}
.tx .txAddress{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-weight: bold;
    color: #1d1d1d;
    margin-left: 20px;
}
.tx .txAmount{
    font-size:20px;
    white-space: nowrap;
    font-weight: normal;
}
.tx .txMore{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #1d1d1d;
}
.transition{
    transition: all 0.5s ease;
}
.tab-content{
    padding: 0 30px;
    overflow: hidden;
}


.display-privatekey {
    overflow-wrap: break-word;
    text-align: center;
    padding:10px 0;
    font-size:10px;
    padding:5px;
    background-color: #f0f0f0;
}
h3.sm-title {
    font-weight: bold;
    font-size: 40px!important;

}
h2.med-title {
    color: var(--primary-wallet);
    font-weight: bold;
    text-align: center;
    margin-bottom:30px;
    font-size: 40px;
}


.mnemonic>span {
    padding: 5px;
    font-size: 1.7rem;
    color: var(--primary-wallet);
    background-color: var(--secondary-wallet-light);
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
}

.tabChoices a{
    text-transform: uppercase;
    color: #6C7B8A;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    border-bottom: 3px solid transparent;
}
.tabChoices a.selected{
    color: var(--primary-wallet);
    background-color: #fff;
    border-bottom: 3px solid var(--primary-wallet);
}
.network {
    color: var(--secondary-wallet);
}
.cancel, .confirm {
    margin: 10px!important;
}

/* notarize */
.hash {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* responsive */

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .side {
        height: 100%;
    }
}
@media (max-width: 768px) {
    .tx .txAmount{
        font-size:16px;
    }
    .tx .txAddress, .tx .txDate, .tx .txMore {
        font-size:12px;
    }
}
