<div class="main">
  <div class="mainBgCover"></div>
  <div class="header py-3">
    <div class="container ml-n2">
      <div class="d-flex flex-row">
        <img src="skin/images/dune-wallet-logo-alpha.png"/>
      </div>
    </div>
  </div>
  <div class="med-container">
    <h2 class="med-title">{{translate("create_your_tezbox")}}</h2>
    <div class="container-box">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-3">
          <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("create_info")}}</strong></p>
        </div>
        <div class="col-md-10 offset-md-1">
          <p class="mnemonic text-center" ng-bind-html="showSeed(mnemonic)"></p>
          <p class="text-right"><a ng-click="newMnemonic()" class=""><i class="fas fa-sync"></i> {{translate("new_mnemonic")}}</a></p>
          <div class="form-group">
            <label>{{translate("optional_passphrase")}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('optional_passphrase_tooltip')}}" tooltip></i></label>
            <input autocomplete="off" type="password" class="form-control" ng-model="passphrase" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 offset-md-2">
          <a ng-click="create()" class="btn btn-primary btn-block">{{translate('continue')}}</a>
        </div>
        <div class="col-md-4">
          <a ng-click="cancel()" class="btn btn-secondary btn-block">{{translate('cancel')}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
